body {
  background: #f4f4f4; /* A light gray background for contrast */
  font-family: 'Roboto', sans-serif;
}

.header {
  background: #1b2b3c; /* Bootstrap primary color */
  color: white;
  display: flex;
  justify-content: space-between; /* Aligns items to each end */
  padding: 0 15px; /* Add padding to the header */
}

.header-title {
  flex-grow: 1; /* Allows the title to grow and center itself */
  text-align: center; /* Centers the text of the title */
}



/* Style for navigation buttons - using Bootstrap button classes */
#playlist-credits button {
  background: #28a745; /* Bootstrap success color */
  border: none;
  color: white;
  padding: .375rem .75rem;
  margin-right: .5rem;
  border-radius: .25rem;
  cursor: pointer;
}

#playlist-credits button:hover {
  background: #218838; /* A darker shade for hover state */
}

/* Sidebar search filters - using Bootstrap form and button classes */
#search-aside {
  background-color: #ffffff; /* White background for sidebar */
  padding: 1rem;
  border-right: 1px solid #dc3c3c; /* Separator line */
}

.sorting-container { /* Container for the sorting buttons */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}

.sorting-button { /* The sorting buttons */
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sort-title { 
  margin-right: 100px; /* Spacing between the title and the arrow */
  font-weight: bold;
}

.arr { /* The arrow container */
  background: white;
  height: 30px; /* Adjust size as necessary */
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px; /* Spacing around the arrow */
  transition: 0.4s ease;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.arr div { /* The arrow itself */
  position: relative;
  height: 15px;
  width: 15px;
  border-top: 20px solid #202020;
  border-left: 20px solid #202020;
  transform: rotate(45deg);
}

.arr.down div {
  transform: rotate(45deg);
}

/* Hover effect for the arrow container */
.arr:hover {
  background-color: #e0e0e0; /* Slightly darker on hover */
}

.down {
  transform: rotate(180deg);
}


.sorting-button .arrow {
  /* Using a pseudo-element for the arrow */
  display: inline-block;
  margin-left: 5px;
}

.sorting-button .arrow::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 5px solid; /* Create the arrow */
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

/* When sorting-button is active or in focus, rotate the arrow to point upwards */
.sorting-button.active .arrow::after, 
.sorting-button:focus .arrow::after {
  transform: rotate(180deg);
}

/* Additional styles for Add button */
#addButton {
  margin-left: 2px;
  /* Spacing between the Popularity button and Add button */

  /* Additional styling if needed */
  
}

/* Custom dropdown styles if needed */
.dropdown-menu {
  background: #9e1717; /* Change to match your color scheme */
  border-radius: .25rem;
  border: 1px solid #010000; /* Light grey border */
}

.dropdown-item {
  color: #333; /* Dark text for contrast on light background */
}

.dropdown-item:hover {
  background-color: #f8f9fa; /* Light grey background on hover */
}

#search-form .search-field {
  margin-bottom: .5rem;
}

#search-form button {
  background: #ffc107; /* Bootstrap warning color for buttons */
  color: #212529; /* Bootstrap default color for text */
}

#search-form button:hover {
  background: #e0a800; /* A darker shade for hover state */
}

/* Main content table styles */
#main-content {
  padding: 1rem;
}

#songs-table th, 
#songs-table td {
  padding: .75rem;
  text-align: center;
  width: 650px; /* width between categories title,artist etc. */
}
#songs-table td {
  border-bottom: 1px solid #dee2e6; /* Bootstrap table row separator color */
}

.footer {
  background: #17a2b8; /* Bootstrap info color */
  color: white;
}

/* Snackbar styles */
.snackbar {
  visibility: visible; /* Hidden */
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.snackbar.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#myChart {
  max-width: 650px;
  max-height: 650px;
}

